<mat-card> 
  <mat-card-content>
    <mat-form-field id="address-selector" class="address-field">
      <mat-select name="account" (selectionChange)="refreshBalance()" [(value)]="model.account" placeholder="Address">
        <mat-option *ngFor="let account of accounts" [value]="account">{{account}}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
   <h5><p>You have<span id="balance">{{model.balance}}</span>Ether</p></h5> 
    <mat-card-header><h4>Send Ether to an other user</h4></mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input type="text" matInput id="amount" placeholder="Amount" (change)="setAmount($event)">
      </mat-form-field>
      <mat-form-field class="address-field">
        <input type="text" matInput id="receiver" placeholder="Receiver Address" (change)="setReceiver($event)">
      </mat-form-field>
      <button mat-button id="send" (click)="sendCoin()">Send Ether</button>
    </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header><h2>Try Nerve</h2></mat-card-header>
  <mat-card-content>
    <button mat-button id="play" (click)="ShowVoting=false;ShowPlayHandler=true;ShowWatchHandler=false;ShowJoinPool=false;ShowCreatePool=false;getMyActiveDares();getDares()"><h5>PLAY</h5></button>
    <button mat-button id="watch" (click)="ShowWatchHandler=true;ShowSetProof=false;ShowPlayHandler=false;getMyActiveDares()"><h5>WATCH</h5></button>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="ShowWatchHandler">
    <button mat-button id="Create PrizePool" (click)="ShowVoting=false;ShowSetProof=false;ShowCreatePool=true;ShowJoinPool=false;getDares();getUsers()"><h5>DARE SOMEONE</h5></button>
    <button mat-button id="Join PrizePool" (click)="ShowVoting=false;ShowSetProof=false;ShowJoinPool=true;ShowCreatePool=false;getActiveDares()"><h5>JOIN ACTIVE DARES</h5></button>
    <button mat-button id="vote dare" (click)="ShowVoting=true;ShowSetProof=false;ShowJoinPool=false;ShowCreatePool=false;getActiveDares()"><h5>VOTE DARES</h5></button>
</mat-card>

<mat-card *ngIf="ShowVoting">
  <h4>Active Dares:</h4>
  <mat-card-content>
    <mat-select name="pools"  placeholder="select an active pool">
      <mat-option *ngFor="let pool of pools" [value]="pool" (onSelectionChange)="SelectedDare(pool.PoolID)">{{pool}}</mat-option>
    </mat-select>
  </mat-card-content>

  <button mat-button id="get dare infos" (click)="getDareInfo()"><h5>GET DARE INFOS</h5></button>
  <h5>Target PLayer: </h5> {{DareInfoModel.player}}
  <h5>Current PrizePool Amount: </h5>{{DareInfoModel.TotalAmount}}
  <h5>Current nb watchers:</h5> {{DareInfoModel.NbWatchers}}
  <h5>Dare to play: </h5>{{DareInfoModel.Dare}}
  <h5>proof link : </h5>https://ipfs.io/ipfs/{{DareInfoModel.Proof}}
  <button mat-button id="vote" (click)="vote(true)"><h5>ACCEPT PROOF</h5></button>
  <button mat-button id="vote" (click)="vote(false)"><h5>CONTEST PROOF</h5></button>
</mat-card>
<mat-card *ngIf="ShowCreatePool">
       
    <h4>Dare Type:</h4>
    <mat-card-content>
        <mat-select name="dares"  placeholder="choose dare type">
            <mat-option *ngFor="let dare of dares" [value]="dare" (onSelectionChange)="getDareKey(dare)">{{dare}}</mat-option>
          </mat-select>
    </mat-card-content>
    <h4>Target Player:</h4>
    <mat-card-content>
        <mat-select name="players"  placeholder="Dare a friend">
            <mat-option *ngFor="let user of users" [value]="user.nickName" (onSelectionChange)="setPlayer(user.Uaddress)">{{user.nickName}}</mat-option>
          </mat-select>
    </mat-card-content>
    <h4>Your BetAmount:</h4>
    <mat-form-field>
        <input type="text" matInput id="amount" placeholder="Set your Bet Amount" (change)="setBetAmount($event)">
    </mat-form-field>
    <button mat-button id="Create Pool" (click)="DareYou()"><h5>CREATE DARE</h5></button>
 </mat-card>
 <mat-card *ngIf="ShowJoinPool">
    <h4>Active Dares:</h4>
    <mat-card-content>
      <mat-select name="pools"  placeholder="Join active Dare">
        <mat-option *ngFor="let pool of pools" [value]="pool" (onSelectionChange)="setDareID(pool.PoolID)">{{pool}}</mat-option>
      </mat-select>
    </mat-card-content>
    <mat-form-field>
      <input type="text" matInput id="amount" placeholder="Set your Bet Amount" (change)="setbetAmount($event)">
  </mat-form-field>
  <button mat-button id="join Pool" (click)="joinDare()"><h5>JOIN DARE</h5></button>
    <h5>Target PLayer: </h5> {{DareInfoModel.player}}
    <h5>Current PrizePool Amount: </h5>{{DareInfoModel.TotalAmount}}
    <h5>Current nb watchers:</h5> {{DareInfoModel.NbWatchers}}
    <h5>Dare to play: </h5>{{DareInfoModel.Dare}}

  </mat-card>
  <mat-card *ngIf="ShowPlayHandler">
      <button mat-button id="ask new dare" (click)="ShowDareMe=true;ShowSetProof=false"><h5>DARE ME</h5></button>
      <button mat-button id="set proof of dare" (click)="ShowSetProof=true;ShowDareMe=false"><h5>SET PROOF</h5></button>
  </mat-card>
<mat-card *ngIf="ShowDareMe">
    <mat-card-content>
        <h4>Your Active Dares :</h4>
      <mat-select name="pools"  placeholder="Your active Dares">
        <mat-option *ngFor="let Apool of Activepools" [value]="Apool">{{Apool}}</mat-option>
      </mat-select>
      <button mat-button id="get my dares" (click)="getMyActiveDares()"><h5>MY DARES</h5></button>
    </mat-card-content>
      <h4>Dare Me :</h4>
      
      <mat-card-content>
          <h5>Dare Type:</h5>
          <mat-select name="dares"  placeholder="choose dare type">
              <mat-option *ngFor="let dare of dares" [value]="dare" (onSelectionChange)="GetDareKey(dare)">{{dare}}</mat-option>
            </mat-select>
      
      <h5>Your BetAmount:</h5>
      <mat-form-field>
        <input type="text" matInput id="amount" placeholder="Set your Bet Amount" (change)="setbetamount($event)">
    </mat-form-field>
    <button mat-button id="Create Pool" (click)="DareMe()"><h5>CREATE DARE</h5></button>
    </mat-card-content>
  
  </mat-card>
  <mat-card *ngIf="ShowSetProof">
    <mat-card-content>
      <h4>Your Active Dares :</h4>
    <mat-select name="pools"  placeholder="Your active Dares">
      <mat-option *ngFor="let Apool of Activepools" [value]="Apool" (onSelectionChange)="SelectedActiveDare(Apool.PoolID)">{{Apool}}</mat-option>
    </mat-select>
    <h4>IPFS ID of the proof:</h4>
    <mat-form-field>
      <input type="text" matInput id="proof" placeholder="Set your proof" (change)="setProofId($event)">
  </mat-form-field>
    <button mat-button id="set proof" (click)="setProof()"><h5>Set Proof</h5></button>
  </mat-card-content>
  </mat-card>
